.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainBg {
  background-size: cover;
}

.bgRepeat {
  background-repeat: no-repeat;
}

* {
  font-family: "Roboto", sans-serif;
}

.dataContainer {
  background-color: rgba(130, 130, 130, 0.3);
}

.hoverHidden:hover {
  display: none;
}
